.dropdownicon,
.tracktitle {
  position: relative;
  flex-shrink: 0;
}
.tracktitle {
  font-size: var(--body-large-600-size);
  line-height: 28px;
  font-weight: 600;
  font-family: var(--body-large-600);
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  width: 1155px;
  height: 72px;
}
.dropdownicon {
  width: 27.08px;
  height: 27.16px;
}
.track {
  cursor: pointer;
  border: 1px solid var(--color-darkgray);
  padding: 0;
  background-color: var(--color-whitesmoke);
  box-sizing: border-box;
  width: 1242px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-15xl);
}
