.dropdownicon,
.tracktitle {
  position: relative;
  flex-shrink: 0;
}
.tracktitle {
  font-size: var(--body-large-600-size);
  line-height: 28px;
  font-weight: 600;
  font-family: var(--body-large-600);
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  width: 1155px;
  height: 72px;
}
.dropdownicon {
  width: 27.08px;
  height: 27.16px;
}
.track {
  cursor: pointer;
  border: 1px solid var(--color-darkgray);
  padding: 0;
  background-color: var(--color-whitesmoke);
  box-sizing: border-box;
  width: 1242px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-15xl);
}

.trackdesc {
  font-size: var(--body-regular-600-size);
  line-height: 20px;
  font-weight: 200;
  font-family: var(--body-regular-600);
}

.trackdata {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fcfcfc;
  padding: 10px;
}

.date {
  /* font-weight: bold; */
  font-size: 18px;
  margin-right: 10px;
}

.link {
  background-color: rgb(93, 163, 255);
  border-radius: 4px;
  border: none;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 16px;
}

.link:hover {
  background-color: #1a68bb;
}

.link a {
  text-decoration: none;
  color: #fff;
}
