.tagline {
  position: absolute;
  top: 78px;
  left: 3px;
  line-height: 32px;
  font-weight: 600;
}
.from300Instructors {
  margin-block-start: 0;
  margin-block-end: 18px;
}
.institutions {
  margin: 0;
}
.headline {
  position: relative;
  line-height: 32px;
}
.heroHeadline {
  position: absolute;
  top: 162px;
  left: 3px;
  width: 478px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--gray-white);
}
.inputPlaceholder,
.searchIcon {
  position: relative;
  flex-shrink: 0;
}
.inputPlaceholder {
  border: 0;
  font-family: var(--body-regular-600);
  font-size: var(--header-heading-4-size);
  background-color: transparent;
  align-self: stretch;
  line-height: 32px;
  color: var(--color-dimgray-100);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 515px;
}
.searchIcon {
  border-radius: var(--br-981xl);
  width: 24px;
  height: 24px;
}
.searchCourses,
.searchbox {
  border-radius: var(--br-981xl);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.searchCourses {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xl);
  background-color: transparent;
  background: linear-gradient(180deg, #ffc27a, #ffa337),
    linear-gradient(180deg, #ffb0ba, #f9475d), #fff;
  justify-content: center;
}
.searchCourses:hover {
  mix-blend-mode: darken;
  background: linear-gradient(#ffba60, #ffba60),
    linear-gradient(180deg, #ffc27a, #ffa337),
    linear-gradient(180deg, #ffb0ba, #f9475d);
}
.searchbox {
  position: absolute;
  top: 346px;
  left: 3px;
  background-color: var(--gray-white);
  box-shadow: -4px -4px 44px rgba(0, 0, 0, 0.08);
  width: 648px;
  height: 72px;
  justify-content: flex-end;
  gap: var(--gap-lgi);
}
.hero2,
.heroImgIcon {
  position: absolute;
  top: 0;
}
.heroImgIcon {
  height: 135.88%;
  width: 100%;
  right: 0;
  bottom: -35.88%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.hero2 {
  left: 648px;
  width: 640px;
  height: 471px;
}
.hero1 {
  position: relative;
  border-radius: var(--br-base);
  width: 1288px;
  height: 471px;
  flex-shrink: 0;
}
.hero {
  background-color: var(--color-royalblue-100);
  width: 1440px;
  height: 553px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-36xl);
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--header-heading-4-size);
  color: var(--secondary-500);
  font-family: var(--body-regular-600);
}
